.grid {
    height: 200px;
    margin:'25%'
  }
  
  .grid-item {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  .img-container {
    display: block;
    width: 70%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  